body {
    font-family: Arial, sans-serif;
}

header {
    background-color: green;
    color: white;
    display: flex;
    align-items: center;
    font-size: 14px;
}

#contenedor {
    display: flex;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

nav {
    display: flex;
    align-items: center;
    width: 100%;
}

#tittle {
    flex: 1;
}

#links {
    display: flex;
    justify-content: center;
    flex-grow: 2;
}

.link {
    margin: 0 10px;
    text-decoration-line: none;
    color: white;
}

#icons {
    display: flex;
    margin-left: auto;
}

#icons i {
    margin-left: 10px;
    font-size: 18px;
    color: lightgray;
    cursor: pointer;
}